<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Threads and Posts</title>

    <link rel="stylesheet" href="../styles/root.css" />
    <link rel="stylesheet" href="../styles/navbar.css"/>
    <link rel="stylesheet" href="../styles/myThreads.css"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar"></nav>
    <main class="my-threads-page">
        <h2>My Activity</h2>
        <hr/><br/>
        <h3>My Threads</h3>
        <div class="my-threads-list">

            <ul></ul>
        </div>

        <hr /> 

        <h3>My Posts</h3>
        <div class="my-posts-list">
            <ul></ul>
        </div>

    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script>
        AOS.init({
            duration: 500, 
            easing: 'ease-in-out', 
            once: true, 
        });
    </script>
    <script type="module" src="../scripts/myThreads.js"></script>
</body>
</html>