* {
    padding: 0;
    margin: 0;
}

.hidden {
  display: none;
}

body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f7f8fc;
    color: #1a1a1a;
}